body {
    background-color: #E8E8E8;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
    min-width: 990px;
    text-align: justify;
}

a {
    text-decoration: none;
}

nav {
    background-color: #746A93;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-right: 90px;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
}

li a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    padding: 20px 26px;
    text-align: center;
}

.menu:hover {
    background-color: #9790AD;
}

.active {
    background-color: #9790AD   ;
}

.page-wrapper {
    margin: 0 100px;
}
.page-content {
    margin: 0 100px;
}

.jumbotron {
    background-color: #3FC4BA ;
    color: #FFFFFF;
    width: 100%;
    padding: 40px 0;
}


.jumbotron h1 {
    font-size: 60px;
    margin: 0;
    text-transform: uppercase;
}

.jumbotron p {
    color: #FFFFFF;
    font-size: 24px;
}


.right-one, .right-two, .right-image {
    float: right;
    width: 50%;
}

.right-one, .left-two, .fact-button {
    background-color: #354458;
}

.right-one:hover, .left-two:hover, .fact-button:hover {
    background-color: #EB7260;
}

.left-one, .left-two, .left-nolink  {
    float: left;
    width: 50%;
}

.left-one, .right-two {
    background-color: #77C5F7;
}

.left-nolink {
    background-color: #FFFFFF;
}

.left-nolink p {
    color: #354458;
}

.left-one:hover, .right-two:hover  {
    background-color: #FC5A5D;
}

.tile {
    text-align: center;
}

.right-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.box-title {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 100px;
    margin: 0;
    
}

.icon {
    padding-top: 100px;
}

.seporator, .quote {
    color: #354458;
    text-align: center;
}

.seporator h1, .quote h1 {
    font-size: 35px;
    padding: 70px 0;
    text-transform: uppercase;
}

.fact-text, .quote-text {
    background-color: #FFFFFF;
}

.fact-text p, .quote-text p {
    font-size: 55px;
    margin: 0;
    padding: 100px 0;
}

